<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/one-player">One Player</a></li>
        <li><a href="/two-player">Two Player</a></li>
    </ul>
</nav>