<!DOCTYPE html>
<html>
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <div class="main center">
            <h1>About</h1>
            <p>This site is a game for players to battle it out in an artillery game. The goal is to destroy your opponent's tank.
                You can also chat with your opponent through the chatbox. A duel for the ages...
            </p>
        </div>
        
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>