<!DOCTYPE html>
<html>
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <div class="main home">
            <h1 class="center">Welcome to Artillery Battle!</h1>
            <div id="lobbyScreen">
                <div class="game-buttons">
                    <button id="createGameButton" class="game-button">Create Game</button>
                    <label for="gameCode">Enter code:</label>
                    <input id="gameCode" name="gameCode" type="text">
                    <button id="joinGameButton" class="game-button">Join Game</button>
                </div>
            </div>
            <div id="gameScreen" class="center hidden">
                <p>Game Code: <span id="gameCodeDisplay"></span></p>
                <canvas id="canvas"></canvas>
            </div>
        </div>
        
        <%- include('layouts/footer'); -%>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/app.js"></script>
        <%- include('layouts/scripts'); -%>
    </body>
</html>