<!DOCTYPE html>
<html>
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <h1>Home</h1>
        
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>