<!DOCTYPE html>
<html>
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <h1 class="center">Two Player</h1>
        
        <%- include('layouts/footer'); -%>

        <script src="/socket.io/socket.io.js"></script>
        <script src="js/app.js"></script>
        <%- include('layouts/scripts'); -%>
    </body>
</html>