:root {
    --primary-light: #fff;
    --secondary-light: #dee4e7;
    --primary-dark: #37474f;
    --secondary-dark: #222;
    --blue: #3d68e9;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
     /* ALONG WITH .main AND .footer THIS MAKES THE PAGE FILL UP THE ENTIRE HEIGHT */
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

.main {
    flex: 1; /* HELPS FILL ENTIRE HEIGHT */
}
.footer {
    flex-shrink: 0; /* HELPS FILL ENTIRE HEIGHT */
}

nav {

}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav li {

}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: auto;
    width: 40%;
    min-width: 350px;
    align-items: center;
    justify-content: space-evenly;
}

.game-button {
    font-size: 1.6rem;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: var(--blue);
    color: var(--primary-light);
    max-width: 200px;
    width: auto;
    text-align: center;
    margin: auto;
    /* min-width: 150px; */
}

.game-button:hover {
    color: red;
    cursor: pointer;
}

#canvas {
    width: 600px;
    height: 400px;
    background-color: black;
    margin: auto;
}


footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}